@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.header-gradient {
  background: linear-gradient(180deg, #11172B 0%, rgba(16, 25, 58, 0.4) 100%);
}

.footer-gradient {
  background: linear-gradient(to bottom, rgba(17, 23, 43, 0.5), #11172b);
}

.rounded-corner {
  border-radius: 8px;
}